* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --bg-color: pink;
}

body {
    height: 100dvh;
    display: grid;
    place-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}
.container input {
    font-size: 2rem;
    text-align: center;
}
.container button {
    padding-block: 8px;
    border-radius: 3px
}

.cor {
    background-color: var(--bg-color);
    transition: 4s;
}